files:
  "/etc/init.d/setup_swap.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      test ! -e /var/swapfile
      if [ $? -eq 0 ]; then
        /bin/dd if=/dev/zero of=/var/swapfile bs=1M count=2048
        /bin/chmod 600 /var/swapfile
        /sbin/mkswap /var/swapfile
        /sbin/swapon /var/swapfile
      fi

container_commands:
  01_run_setup_swap:
    command: "/etc/init.d/setup_swap.sh"
    leader_only: true
